### DEV
# postgres
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=svebble
# pg-admin
PGADMIN_DEFAULT_EMAIL=user@domain.com
PGADMIN_DEFAULT_PASSWORD=app

DATABASE_URL_DOMAIN=localhost
DATABASE_URL_PORT=5432

APPLICATION_NAME=svebble_app

### PROD
DATABASE_URL=
DATABASE_URL_UNPOOLED=

### COMMON
BASE_URL=http://localhost:3000
SENTRY_AUTH_TOKEN=
BETTER_AUTH_SECRET=dev_secret_dev_secret_dev_secret
GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret
UPSTASH_REDIS_REST_URL=http://localhost:5552
UPSTASH_REDIS_REST_TOKEN=dev_token
RATELIMIT_IP_SALT=random_salt
BACKBLAZE_APP_KEY_ID=admin
BACKBLAZE_APP_KEY=admin123
BACKBLAZE_REGION=us-east-1
BACKBLAZE_ENDPOINT=http://localhost:5554
BACKBLAZE_BUCKET_NAME=svebble-bucket
NEXT_PUBLIC_CDN_URL=http://localhost:5554/svebble-bucket
OPENAI_API_TOKEN=whatever
CRON_SECRET=whatever
EMAIL_SMTP_HOST=smtp-relay.brevo.com
EMAIL_SMTP_PORT=587
EMAIL_SMTP_USER=BREVO_SMTP_LOGIN
EMAIL_SMTP_PASS=BREVO_SMTP_KEY
EMAIL_FROM="ChatApp <no-reply@domain.com>"