### DEV
# postgres
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=svebble
# pg-admin
PGADMIN_DEFAULT_EMAIL=user@domain.com
PGADMIN_DEFAULT_PASSWORD=app

DATABASE_URL_DOMAIN=localhost
DATABASE_URL_PORT=5432

### PROD
DATABASE_URL=
DATABASE_URL_UNPOOLED=

### COMMON
SENTRY_AUTH_TOKEN=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=