@theme inline {
  --color-mui-Alert-errorColor: var(--mui-palette-Alert-errorColor);
  --color-mui-Alert-errorFilledBg: var(--mui-palette-Alert-errorFilledBg);
  --color-mui-Alert-errorFilledColor: var(--mui-palette-Alert-errorFilledColor);
  --color-mui-Alert-errorIconColor: var(--mui-palette-Alert-errorIconColor);
  --color-mui-Alert-errorStandardBg: var(--mui-palette-Alert-errorStandardBg);
  --color-mui-Alert-infoColor: var(--mui-palette-Alert-infoColor);
  --color-mui-Alert-infoFilledBg: var(--mui-palette-Alert-infoFilledBg);
  --color-mui-Alert-infoFilledColor: var(--mui-palette-Alert-infoFilledColor);
  --color-mui-Alert-infoIconColor: var(--mui-palette-Alert-infoIconColor);
  --color-mui-Alert-infoStandardBg: var(--mui-palette-Alert-infoStandardBg);
  --color-mui-Alert-successColor: var(--mui-palette-Alert-successColor);
  --color-mui-Alert-successFilledBg: var(--mui-palette-Alert-successFilledBg);
  --color-mui-Alert-successFilledColor: var(--mui-palette-Alert-successFilledColor);
  --color-mui-Alert-successIconColor: var(--mui-palette-Alert-successIconColor);
  --color-mui-Alert-successStandardBg: var(--mui-palette-Alert-successStandardBg);
  --color-mui-Alert-warningColor: var(--mui-palette-Alert-warningColor);
  --color-mui-Alert-warningFilledBg: var(--mui-palette-Alert-warningFilledBg);
  --color-mui-Alert-warningFilledColor: var(--mui-palette-Alert-warningFilledColor);
  --color-mui-Alert-warningIconColor: var(--mui-palette-Alert-warningIconColor);
  --color-mui-Alert-warningStandardBg: var(--mui-palette-Alert-warningStandardBg);
  --color-mui-AppBar-darkBg: var(--mui-palette-AppBar-darkBg);
  --color-mui-AppBar-darkColor: var(--mui-palette-AppBar-darkColor);
  --color-mui-AppBar-defaultBg: var(--mui-palette-AppBar-defaultBg);
  --color-mui-Avatar-defaultBg: var(--mui-palette-Avatar-defaultBg);
  --color-mui-Button-inheritContainedBg: var(--mui-palette-Button-inheritContainedBg);
  --color-mui-Button-inheritContainedHoverBg: var(--mui-palette-Button-inheritContainedHoverBg);
  --color-mui-Chip-defaultAvatarColor: var(--mui-palette-Chip-defaultAvatarColor);
  --color-mui-Chip-defaultBorder: var(--mui-palette-Chip-defaultBorder);
  --color-mui-Chip-defaultIconColor: var(--mui-palette-Chip-defaultIconColor);
  --color-mui-FilledInput-bg: var(--mui-palette-FilledInput-bg);
  --color-mui-FilledInput-disabledBg: var(--mui-palette-FilledInput-disabledBg);
  --color-mui-FilledInput-hoverBg: var(--mui-palette-FilledInput-hoverBg);
  --color-mui-LinearProgress-errorBg: var(--mui-palette-LinearProgress-errorBg);
  --color-mui-LinearProgress-infoBg: var(--mui-palette-LinearProgress-infoBg);
  --color-mui-LinearProgress-primaryBg: var(--mui-palette-LinearProgress-primaryBg);
  --color-mui-LinearProgress-secondaryBg: var(--mui-palette-LinearProgress-secondaryBg);
  --color-mui-LinearProgress-successBg: var(--mui-palette-LinearProgress-successBg);
  --color-mui-LinearProgress-warningBg: var(--mui-palette-LinearProgress-warningBg);
  --color-mui-Skeleton-bg: var(--mui-palette-Skeleton-bg);
  --color-mui-Slider-errorTrack: var(--mui-palette-Slider-errorTrack);
  --color-mui-Slider-infoTrack: var(--mui-palette-Slider-infoTrack);
  --color-mui-Slider-primaryTrack: var(--mui-palette-Slider-primaryTrack);
  --color-mui-Slider-secondaryTrack: var(--mui-palette-Slider-secondaryTrack);
  --color-mui-Slider-successTrack: var(--mui-palette-Slider-successTrack);
  --color-mui-Slider-warningTrack: var(--mui-palette-Slider-warningTrack);
  --color-mui-SnackbarContent-bg: var(--mui-palette-SnackbarContent-bg);
  --color-mui-SnackbarContent-color: var(--mui-palette-SnackbarContent-color);
  --color-mui-SpeedDialAction-fabHoverBg: var(--mui-palette-SpeedDialAction-fabHoverBg);
  --color-mui-StepConnector-border: var(--mui-palette-StepConnector-border);
  --color-mui-StepContent-border: var(--mui-palette-StepContent-border);
  --color-mui-Switch-defaultColor: var(--mui-palette-Switch-defaultColor);
  --color-mui-Switch-defaultDisabledColor: var(--mui-palette-Switch-defaultDisabledColor);
  --color-mui-Switch-errorDisabledColor: var(--mui-palette-Switch-errorDisabledColor);
  --color-mui-Switch-infoDisabledColor: var(--mui-palette-Switch-infoDisabledColor);
  --color-mui-Switch-primaryDisabledColor: var(--mui-palette-Switch-primaryDisabledColor);
  --color-mui-Switch-secondaryDisabledColor: var(--mui-palette-Switch-secondaryDisabledColor);
  --color-mui-Switch-successDisabledColor: var(--mui-palette-Switch-successDisabledColor);
  --color-mui-Switch-warningDisabledColor: var(--mui-palette-Switch-warningDisabledColor);
  --color-mui-TableCell-border: var(--mui-palette-TableCell-border);
  --color-mui-Tooltip-bg: var(--mui-palette-Tooltip-bg);
  --color-mui-action-activatedOpacity: var(--mui-palette-action-activatedOpacity);
  --color-mui-action-active: var(--mui-palette-action-active);
  --color-mui-action-disabled: var(--mui-palette-action-disabled);
  --color-mui-action-disabledBackground: var(--mui-palette-action-disabledBackground);
  --color-mui-action-disabledOpacity: var(--mui-palette-action-disabledOpacity);
  --color-mui-action-focus: var(--mui-palette-action-focus);
  --color-mui-action-focusOpacity: var(--mui-palette-action-focusOpacity);
  --color-mui-action-hover: var(--mui-palette-action-hover);
  --color-mui-action-hoverOpacity: var(--mui-palette-action-hoverOpacity);
  --color-mui-action-selected: var(--mui-palette-action-selected);
  --color-mui-action-selectedOpacity: var(--mui-palette-action-selectedOpacity);
  --color-mui-background-default: var(--mui-palette-background-default);
  --color-mui-background-paper: var(--mui-palette-background-paper);
  --color-mui-common-background: var(--mui-palette-common-background);
  --color-mui-common-black: var(--mui-palette-common-black);
  --color-mui-common-onBackground: var(--mui-palette-common-onBackground);
  --color-mui-common-white: var(--mui-palette-common-white);
  --color-mui-divider: var(--mui-palette-divider);
  --color-mui-error-contrastText: var(--mui-palette-error-contrastText);
  --color-mui-error-dark: var(--mui-palette-error-dark);
  --color-mui-error-light: var(--mui-palette-error-light);
  --color-mui-error-main: var(--mui-palette-error-main);
  --color-mui-grey-100: var(--mui-palette-grey-100);
  --color-mui-grey-200: var(--mui-palette-grey-200);
  --color-mui-grey-300: var(--mui-palette-grey-300);
  --color-mui-grey-400: var(--mui-palette-grey-400);
  --color-mui-grey-500: var(--mui-palette-grey-500);
  --color-mui-grey-50: var(--mui-palette-grey-50);
  --color-mui-grey-600: var(--mui-palette-grey-600);
  --color-mui-grey-700: var(--mui-palette-grey-700);
  --color-mui-grey-800: var(--mui-palette-grey-800);
  --color-mui-grey-900: var(--mui-palette-grey-900);
  --color-mui-grey-A100: var(--mui-palette-grey-A100);
  --color-mui-grey-A200: var(--mui-palette-grey-A200);
  --color-mui-grey-A400: var(--mui-palette-grey-A400);
  --color-mui-grey-A700: var(--mui-palette-grey-A700);
  --color-mui-info-contrastText: var(--mui-palette-info-contrastText);
  --color-mui-info-dark: var(--mui-palette-info-dark);
  --color-mui-info-light: var(--mui-palette-info-light);
  --color-mui-info-main: var(--mui-palette-info-main);
  --color-mui-primary-contrastText: var(--mui-palette-primary-contrastText);
  --color-mui-primary-dark: var(--mui-palette-primary-dark);
  --color-mui-primary-light: var(--mui-palette-primary-light);
  --color-mui-primary-main: var(--mui-palette-primary-main);
  --color-mui-secondary-contrastText: var(--mui-palette-secondary-contrastText);
  --color-mui-secondary-dark: var(--mui-palette-secondary-dark);
  --color-mui-secondary-light: var(--mui-palette-secondary-light);
  --color-mui-secondary-main: var(--mui-palette-secondary-main);
  --color-mui-success-contrastText: var(--mui-palette-success-contrastText);
  --color-mui-success-dark: var(--mui-palette-success-dark);
  --color-mui-success-light: var(--mui-palette-success-light);
  --color-mui-success-main: var(--mui-palette-success-main);
  --color-mui-text-disabled: var(--mui-palette-text-disabled);
  --color-mui-text-icon: var(--mui-palette-text-icon);
  --color-mui-text-primary: var(--mui-palette-text-primary);
  --color-mui-text-secondary: var(--mui-palette-text-secondary);
  --color-mui-warning-contrastText: var(--mui-palette-warning-contrastText);
  --color-mui-warning-dark: var(--mui-palette-warning-dark);
  --color-mui-warning-light: var(--mui-palette-warning-light);
  --color-mui-warning-main: var(--mui-palette-warning-main);
}
