@import "./tailwind-init.css";

.under-navbar-1 {
  @apply top-16;
  z-index: var(--mui-zIndex-appBar);
}

.word-break-word {
  word-break: break-word;
}

#nprogress {
  pointer-events: none;
  position: relative;
  z-index: 2000;
  .bar {
    background: var(--mui-palette-primary-main);
    height: 3px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow:
      0 0 10px var(--mui-palette-primary-main),
      0 0 5px var(--mui-palette-primary-main);
    opacity: 1;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }
}

.rotating-dash-frame {
  position: relative;
  display: block;

  .dash-frame-content {
    position: relative;
    z-index: 1;
  }

  .dash-frame-svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
  }

  .dash-frame-stroke {
    --dash-color: transparent;
    fill: none;
    transition: 0.3s;
    x: 3px;
    y: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    rx: 0;
    ry: 0;

    &.dash-frame-stroke-active {
      --dash-color: var(--mui-palette-primary-main);
    }

    stroke: var(--dash-color);
    stroke-width: 2px;
    stroke-linecap: round;

    stroke-dasharray: 1px 11px;

    animation: dash-frame-spin 2s linear infinite;
    filter: drop-shadow(0 0 10px var(--dash-color));
  }

  @keyframes dash-frame-spin {
    0% {
      stroke-dashoffset: -0px;
      stroke-opacity: 0.3;
      filter: drop-shadow(0 0 0 transparent);
    }

    25% {
      stroke-opacity: 1;
      stroke-width: 3px;
      filter: drop-shadow(0 0 10px var(--dash-color));
    }

    50% {
      stroke-opacity: 0.3;
      filter: drop-shadow(0 0 0 transparent);
    }

    75% {
      stroke-opacity: 1;
      stroke-width: 3px;
      filter: drop-shadow(0 0 10px var(--dash-color));
    }

    100% {
      stroke-dashoffset: -192px;
      stroke-opacity: 0.3;
      filter: drop-shadow(0 0 0 transparent);
    }
  }
}
