@import "./tailwind-init.css";

@theme {
  --default-transition-duration: 250ms;
  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1536px;
  --breakpoint-2xl: 1920px;
}

:root {
  --navbar-height: 0px;
}

html {
  scroll-padding-top: calc(var(--navbar-height) + 12px);
}

.under-navbar {
  top: var(--navbar-height);
  z-index: var(--mui-zIndex-appBar);
}

.word-break-word {
  word-break: break-word;
}

.notistack-Snackbar {
  @apply sm:w-lg!;
}
.notistack-SnackbarContainer {
  max-height: initial !important;

  & > div {
    transition: none;
  }

  .notistack-CollapseWrapper {
    transition: none !important;
    padding: 0 !important;
  }

  .MuiCollapse-wrapperInner {
    @apply py-1!;
  }
}

.snackbar-progress-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.snackbar-progress {
  position: absolute;
  inset-inline: 0;
  bottom: -3px;
  height: 3px;
  transform-origin: left center;

  animation-name: snackbar-progress-deplete;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  background-color: currentColor;
}

.snackbar-progress-rtl {
  transform-origin: right center;
}

@keyframes snackbar-progress-deplete {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

#nprogress {
  pointer-events: none;
  position: relative;
  z-index: 2000;
  .bar {
    background: var(--mui-palette-primary-main);
    height: 3px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow:
      0 0 10px var(--mui-palette-primary-main),
      0 0 5px var(--mui-palette-primary-main);
    opacity: 1;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }
}

.rotating-dash-frame {
  @apply relative flex flex-col;

  .dash-frame-content {
    @apply relative flex flex-col;
    z-index: 1;
  }

  .dash-frame-svg {
    position: absolute;
    pointer-events: none;
    z-index: 2;

    &.inner {
      inset: 0;
      width: 100%;
      height: 100%;
    }

    &.outer {
      inset: -5px;
      width: calc(100% + 10px);
      height: calc(100% + 10px);
    }
  }

  .dash-frame-stroke {
    --dash-color: transparent;
    fill: none;
    transition: 0.25s;
    x: 3px;
    y: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    rx: 0;
    ry: 0;

    &.dash-frame-stroke-active {
      --dash-color: var(--mui-palette-primary-main);
    }

    stroke: var(--dash-color);
    stroke-width: 2px;
    stroke-linecap: round;

    stroke-dasharray: 1px 11px;

    animation: dash-frame-spin 2s linear infinite;
    filter: drop-shadow(0 0 10px var(--dash-color));
  }

  @keyframes dash-frame-spin {
    0% {
      stroke-dashoffset: -0px;
      stroke-opacity: 0.3;
      filter: drop-shadow(0 0 0 transparent);
    }

    25% {
      stroke-opacity: 1;
      stroke-width: 3px;
      filter: drop-shadow(0 0 10px var(--dash-color));
    }

    50% {
      stroke-opacity: 0.3;
      filter: drop-shadow(0 0 0 transparent);
    }

    75% {
      stroke-opacity: 1;
      stroke-width: 3px;
      filter: drop-shadow(0 0 10px var(--dash-color));
    }

    100% {
      stroke-dashoffset: -192px;
      stroke-opacity: 0.3;
      filter: drop-shadow(0 0 0 transparent);
    }
  }
}

.logo {
  text-decoration: none;
  & > * {
    @apply font-medium border rounded border-transparent py-2 px-2 sm:px-3 transition-all;
    &:hover {
      border-color: var(--mui-palette-primary-main);
      box-shadow: var(--mui-shadows-3);
      background-color: rgba(
        var(--mui-palette-primary-mainChannel) /
          calc(var(--mui-palette-action-hoverOpacity))
      );
      color: var(--mui-palette-primary-main);
      &:active {
        transform: scale(0.95);
      }
    }
  }
}

.advanced-cropper-boundary.advanced-cropper__boundary {
  @apply cursor-move;
}

.hash-flash {
  animation: highlightElement 3s ease-out forwards;
  outline: 3px solid transparent;
}

@keyframes highlightElement {
  10% {
    outline-color: rgba(var(--mui-palette-warning-mainChannel) / 0.8);
  }
  80% {
    outline-color: rgba(var(--mui-palette-warning-mainChannel) / 0.5);
  }
  100%,
  0% {
    outline-color: transparent;
  }
}

.glow-pulse-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @keyframes glowOrbit {
    from {
      offset-distance: 0%;
    }
    to {
      offset-distance: 100%;
    }
  }

  @keyframes glowPulse {
    0%,
    100% {
      transform: translate(-50%, -50%) scale(0.55);
    }
    5% {
      transform: translate(-50%, -50%) scale(0.6);
    }
    45% {
      transform: translate(-50%, -50%) scale(0.65);
    }
    50% {
      transform: translate(-50%, -50%) scale(0.55);
    }
    55% {
      transform: translate(-50%, -50%) scale(0.65);
    }
    95% {
      transform: translate(-50%, -50%) scale(0.6);
    }
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events: none;
    z-index: 0;

    filter: blur(80px);
    offset-anchor: center;
    offset-rotate: 0deg;

    animation:
      glowOrbit 20s ease-in-out infinite,
      glowPulse 10s linear infinite;
  }

  &::before {
    background: radial-gradient(
      circle,
      rgb(var(--mui-palette-primary-mainChannel) / 0.18) 0%,
      rgb(var(--mui-palette-primary-mainChannel) / 0.1) 35%,
      rgb(var(--mui-palette-primary-mainChannel) / 0.05) 55%,
      transparent 75%
    );

    offset-path: ellipse(350px 150px at 100% 100%);
  }

  &::after {
    background: radial-gradient(
      circle,
      rgb(var(--mui-palette-secondary-mainChannel) / 0.16) 0%,
      rgb(var(--mui-palette-secondary-mainChannel) / 0.09) 35%,
      rgb(var(--mui-palette-secondary-mainChannel) / 0.04) 55%,
      transparent 75%
    );

    offset-path: ellipse(200px 100px at 90% 112%);

    animation-delay:
      -10s,
      -2.5s;
  }
}

.light .glow-pulse-wrapper::before {
  background: radial-gradient(
    circle,
    rgb(var(--mui-palette-primary-mainChannel) / 0.38) 0%,
    rgb(var(--mui-palette-primary-mainChannel) / 0.3) 35%,
    rgb(var(--mui-palette-primary-mainChannel) / 0.25) 55%,
    transparent 75%
  );
}

.light .glow-pulse-wrapper::after {
  background: radial-gradient(
    circle,
    rgb(var(--mui-palette-secondary-mainChannel) / 0.34) 0%,
    rgb(var(--mui-palette-secondary-mainChannel) / 0.26) 35%,
    rgb(var(--mui-palette-secondary-mainChannel) / 0.2) 55%,
    transparent 75%
  );
}

.custom-radio-control {
  .MuiFormControlLabel-root {
    @apply ml-0 mr-0 pr-2;
    &:hover {
      @apply bg-[var(--mui-palette-action-hover)];
    }
    &:has(.MuiRadio-root.Mui-checked) {
      @apply bg-[var(--mui-palette-action-selected)];
    }
  }
}
